<h1> Add ingredients</h1>

<%= simple_form_for ([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "cancel", cocktail_path(@cocktail), class: "btn btn-primary" %>
<% end %>
